<!DOCTYPE html>
block vars
  - var isProduction = true;
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document

    if isProduction
      style: include ../../node_modules/@azulejo/client/out/index.css
    else
      link(href='/assets/index.css', rel='stylesheet')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.1/umd/react.production.min.js")
    script(src="/assets/index.js")
  body
    .root !{chunks.index}
